<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>No business is small</title>

        <script src="js/angular.min.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="https://hallways.cap.gsa.gov/sites/all/themes/bootstrap/css/cap-core-v1.css" rel="stylesheet">
        <link href="https://hallways.cap.gsa.gov/sites/all/themes/bootstrap/css/cap-widgets.css" rel="stylesheet">
        <link href="https://hallways.cap.gsa.gov/sites/all/themes/bootstrap/css/cap-widgets-hall.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <!-- link href="starter-template.css" rel="stylesheet" -->


        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!-- script src="js/ie10-viewport-bug-workaround.js"></script -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>

   <body ng-app="opportunityViewer">
       <div id="headBox" class="jumbotron">
          <h2>
             GSA Office of Small Business Opportunity<br />
             <small>
                Prototype digital service helps find small businesses find government solicitations.
             </small>
          </h2>
       </div> <!-- jumbotron -->

       <div class="panel panel-default" ng-controller="searchController">
          <div class="panel-heading">Look up an opportunity</div>
              <div class="well well-lg">
                  <p>Pick some stuff.</p>
                  <table class="table">
                      <tr ng-repeat="picklist in picklists">
                          <td>{{picklist.name}} ({{picklist.entries.length}})</td>
                          <td><input type="picklist.name"
                                    ng-model="picklist.search"
                                    placeholder={{picklist.name}}></td>
                      </tr>
                  </table>
              </div>
          <div ng-repeat="opportunity in opportunityList |
                   filter: {model: 'opportunities.opportunity'} |
                   filter: { fields: { naics: picklists.naics.search }} |
                   filter: { fields: { place_of_performance_state: picklists.place_of_performance_state.search }} |
                   filter: { fields: { place_of_performance_city: picklists.place_of_performance_city.search }} |
                   limitTo: 100"> 
            <p>Agency: {{selectedAgency}}, NAICS: {{opportunity.fields.naics}}</p>
            <p>
            Place of Performance :
                {{opportunity.fields.place_of_performance_city}}, 
                {{opportunity.fields.place_of_performance_state}}
            </p>
          </div>
       </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/opportunities.js"></script>
    <script src="js/opportunity_viewer.js"></script>
</body>
<footer>
</footer>
</html>
