<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Rate Calculator</title>

        <script src="js/angular.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="https://hallways.cap.gsa.gov/sites/all/themes/bootstrap/css/cap-core-v1.css" rel="stylesheet">
        <link href="https://hallways.cap.gsa.gov/sites/all/themes/bootstrap/css/cap-widgets.css" rel="stylesheet">
        <link href="https://hallways.cap.gsa.gov/sites/all/themes/bootstrap/css/cap-widgets-hall.css" rel="stylesheet">


        <!-- Custom styles for this template -->
        <!-- link href="starter-template.css" rel="stylesheet" -->

   </head>
   <body ng-app="rateCalculator">
        <div ng-controller="rateCalculatorController">
           <div id="headBox" class="jumbotron">
              <h2>
                 Rate Calculator<br />
                 <small>
                    Prototype digital service calculates package rates.
                 </small>
              <h2>
           </div> <!-- jumbotron -->

           <div class="container">
            <form role="form">
              <div class="form-group">
                <label for="packageWeight">Package weight</label>
                <input type="number" class="form-control" id="packageWeight"
                ng-model="weight" ng-change="findRate()"
                placeholder="#">
              </div> <!-- class="form-group" -->
              <div class="form-group">
                <label for="packageOrigin">Package origin</label>
                <select ng-model="selectedOrigin" name="origin"
                        ng-change="findRate()"
                        ng-options="origin for origin in origins">
                      <option value="">choose origin</option>
                </select>
              </div> <!-- class="form-group" -->
              <div class="form-group">
                <label for="packageDestination">Package destination</label>
                <select ng-model="selectedDestination" name="destination"
                    ng-change="findRate()"
                    ng-options="destination for destination in destinations">
                      <option value="">choose destination</option>
                </select>
              </div> <!-- class="form-group" -->
            </form>
            <div>
                Rate: ${{rate}}
            </div>
           </div> <!-- class="container" -->
       <div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/rateTable.js"></script>
    <script src="js/rateCalculator.js"></script>
</body>
<footer>
</footer>
</html>
